@charset "utf-8";
/*职业选择*/
.u-careerlist {
  padding: 0.25rem 0;
  font-size: 0.14rem;
  border-top: 2px solid #d0d6d9;
  border-bottom: 1px solid #d0d6d9;
}
.u-careerlist li {
  float: left;
}
.u-careerlist a {
  display: inline-block;
  margin-left: 0.3rem;
  padding: 0.01rem 0.02rem;
  /*添加padding，在鼠标移入能够显示*/
}
.u-careerlist a:hover {
  background-color: #29b078;
  color: white;
  /*移入后效果*/
}
/*前端开发方向*/
.g-mnc {
  padding: 0;
  /*重置公共样式中mnc的样式*/
}
.g-mnc h2 {
  padding: 0.35rem 0;
  text-align: left;
  border-bottom: 2px solid #d0d6d9;
  /*设置独立mnc中h2的样式*/
}
.m-introduce {
  background-color: white;
  margin-top: 0.3rem;
  margin-bottom: 0.2rem;
  box-sizing: border-box;
  width: 3.6rem;
}
@media (max-width: 768px) {
  .m-introduce {
    margin: 0.3rem auto 0.2rem auto;
  }
}
.u-introduce-tt {
  padding: 0.2rem 0.1rem;
  overflow: hidden;
  border-bottom: 1px solid #d0d6d9;
}
.u-introduce-tt h3 {
  padding: 0.15rem 0;
  font-size: 0.16rem;
  font-weight: bold;
}
.u-introduce-tt p {
  font-size: 0.14rem;
}
.u-introduce-tt img {
  margin-right: 0.1rem;
}
/*顶部介绍样式*/
/*中部介绍样式*/
.u-introduce-item1 {
  width: 100%;
  overflow: hidden;
}
.u-introduce-item1 li {
  box-sizing: border-box;
  padding-left: 0.1rem;
  float: left;
  width: 50%;
  line-height: 0.4rem;
  border-bottom: 1px solid #d0d6d9;
  border-right: 1px solid #d0d6d9;
}
.u-introduce-item1 li img {
  vertical-align: middle;
  margin-left: 0.1rem;
}
.u-introduce-item1 li strong {
  color: red;
  font-weight: bold;
}
/*工资部分表格开始*/
.u-introduce-item2 {
  width: 100%;
  overflow: hidden;
}
.u-introduce-item2 li {
  padding: 0 0.1rem;
  box-sizing: border-box;
}
.u-introduce-item2 .u-introduce-item2--price {
  width: 40%;
  float: left;
  line-height: 1.2rem;
  text-align: center;
  border-bottom: 1px solid #d0d6d9;
}
.u-introduce-item2 .u-introduce-item2--time {
  width: 60%;
  float: right;
  line-height: 0.4rem;
  border-bottom: 1px solid #d0d6d9;
  border-left: 1px solid #d0d6d9;
}
/*最后两个*/
.u-introduce-item3 {
  width: 100%;
}
.u-introduce-item3 li {
  padding: 0 0.1rem;
  box-sizing: border-box;
  font-size: 0.12rem;
  color: #999999;
  line-height: 0.4rem;
  border-bottom: 1px solid #d0d6d9;
}
.u-introduce-item3 span {
  font-size: 0.14rem;
  color: black;
  font-weight: bold;
}
.u-introduce-item3 strong {
  color: red;
}
