@charset "utf-8";
/*初始设定*/
*{
    margin: 0;
    padding: 0;
}

img {
    max-width: 100%;
}

html {
    font-size: 62.5%;
    font-family:"黑体-繁 细体",Serif;
}

@media  screen and (max-width: 450px){
    html {
        font-size: 50%;
    }
}

.container {
    max-width: 720px;
    margin: 0 auto;
    background-color: #eff0f4;
}
/*头部开始*/
header {
    background-color: #5fc0cd;
}
header h2 {
    padding: 2.4%;
    text-align: center;
    color: white;
    font-size: 3.2rem;
}

header p {
    color: white;
    font-size: 3.2rem;
}

header .header-left {
    position: absolute;
    left: 4%;
    top: 30%;
}

header .header-right {
    position: absolute;
    right: 4%;
    top: 30%;
}
main {
    margin-top: 2%;
}
main label {
    display: block;
    padding: 2% 0;
    background-color: white;
}

label img {
    display: inline-block;
    width: 5%;
    vertical-align: bottom;
    padding: 0% 2%;
    max-width: 27px;
}

label > input {
    display: inline-block;
    width: 85%;
    vertical-align: center;
    border: none;
    border-left: 2px solid #eaedee;
    font-size: 3.2rem;
    text-indent: 3.2rem;
}

label + label {
    margin-top: 2%;
}
/*placeholder的颜色*/
::-webkit-input-placeholder{
    color: #e1e5e7;
}
::-moz-placeholder {
    color: #e1e5e7;
}
:-moz-placeholder {
    color: #e1e5e7;
}
:-ms-input-placeholder {
    color: #e1e5e7;
}

/*底部开始*/
footer {
    margin-top: 6%;
    padding-bottom: 60%;
    overflow: hidden;
}

footer button {
    background-color: #5fc0cd;
    padding: 6% 0;
    font-size: 3.6rem;
    color: white;
    width: 100%;
    vertical-align: center;
}

footer p {
    padding-top: 2.4rem;
    float: right;
    font-size: 3.2rem;
    color: #5fc0cd;
}