/*雪碧图样式*/
.sprit-13 {
  background: url(images/sprit-13.png) no-repeat;
  -webkit-background-size: 3.92rem 0.52rem;
  background-size: 3.92rem 0.52rem;
}
.icon-enter {
  height: 0.40rem;
  width: 0.24rem;
  background-position: 0 0;
}
.icon-serch {
  height: 0.30rem;
  width: 0.30rem;
  background-position: -0.24rem 0;
}
.icon-ten {
  height: 0.30rem;
  width: 0.30rem;
  background-position: -0.54rem 0;
}
.icon-choose {
  height: 0.30rem;
  width: 0.30rem;
  background-position: -0.84rem 0;
}
.icon-kill {
  height: 0.30rem;
  width: 0.30rem;
  background-position: -1.14rem 0;
}
.icon-menuetop {
  height: 0.27rem;
  width: 0.34rem;
  background-position: -1.43rem 0;
}
.icon-close {
  height: 0.36rem;
  width: 0.36rem;
  background-position: -1.76rem 0;
}
.icon-menuetop-6-1 {
  height: 0.40rem;
  width: 0.39rem;
  background-position: -2.14rem 0;
}
.icon-alert {
  height: 0.40rem;
  width: 0.40rem;
  background-position: -2.5rem 0;
}
.icon-home {
  height: 0.42rem;
  width: 0.51rem;
  background-position: -2.9rem 0;
}
.icon-play {
  height: 0.52rem;
  width: 0.52rem;
  background-position: -3.4rem 0;
}
/*头部可共用样式：*/
.g-hd {
  position: relative;
  width: 100%;
}
