@charset "utf-8";
/*清除样式*/
ul,ul li{
    margin: 0;
    padding: 0;
}
ul li {
    list-style: none;
}

a {
    text-decoration: none;
    color: #29b078;
}

/*header开始*/
header {
    font-size: 14px;
    color: #29b078;
    margin: 14px 0;
}
header img {
    padding-left: 2px;
}

.icon-right {
    float: right;
}
.vertical-middle {
    vertical-align: middle;
}

.banner {
    margin-top: -21px;
}
/*侧边栏开始*/
.g-sdc {
    box-shadow: 0 2px 2px #e1e1e1;
    border: 1px solid #ededed;
    background-color: white;
}

.f-marginB {
    margin-bottom: 70px;
}
.g-bd {
    background-color: #fafafa;
}
.m-snav {
    padding: 30px 0;
}
/*设置划过颜色*/
.m-snav a:hover {
    text-decoration: none;
    color: #29b078;
}
.u-circle {
    display: inline-block;
    margin-right: 5px;
    height: 10px;
    width: 19px;
    background: url("images/icon-kongxincircle.png") no-repeat center;
}
.u-list {
    background-color: white;
    font-weight: bold;
}

.u-list .itm {
    font-size: 1.4rem;
    line-height: 5rem;
}
.u-list h2{
    font-size: 16px;
    text-align: center;
    font-weight: bold;
}
.u-list li a{
   padding-left: 35%;
}

.f-borderBottom {
    border-bottom: 1px solid #e6e6e6;
}

.f-clearPaddingLR {
    padding-right: 0!important;
    padding-left: 0!important;
}

.u-list a:hover{
    color: #ff650e;
    text-decoration: none;
}

.u-list li:hover .u-circle {
    background: url("images/icon-shixincircle.png") no-repeat center;
}

/*u-list2开始*/
.u-list2 {
    margin: 0 20px 20px 20px;
}
.u-list2 li {
    padding-top: 25px;
    padding-bottom: 30px;
}
.u-list2 .f-fs {
    font-size: 14px;
}

.u-list2 .s-fc {
    color: #999;
}

.f-marginR {
    margin-right: 35px;
}

.f-ti {
    text-indent: 28px;
}
.f-lh {
    line-height: 28.22px;
}
/*footer开始*/
footer {
    padding-top: 40px;
    padding-bottom: 30px;
    background-color: #26a26f;
    color: white;
}

footer h2 {
    font-size: 16px;
    color: white;
    font-weight: bold;
}

footer a{
    font-size: 14px;
    color: white;
    text-decoration: none;
}

.footer-l h2 {
    padding-bottom: 63px;
}

.footer-m h2 {
    padding-bottom: 30px;
}

.footer-m-b {
    padding-bottom: 20px;
}

.footer-m-b span,.footer-m-b2 span {
    padding-right: 35px;
}

.footer-r {
    float: right;
}

.footer-bottom {
    background-color: #26a26f;
    color: white;
    text-align: center;
    font-size: 12px;
}

@media screen and (min-width: 320px) and (max-width: 768px){
    .footer-r {
        float: left;
    }
    .students {
        margin-bottom: 5px;
    }
    .properties p {
        text-align: center;
    }
    .u-list .itm a{
        padding-left: 43%;
    }
}
